.container {
  max-width: 960px;
  margin: 16px auto;
  padding-left: 16px;
  padding-right: 16px;
}

.posts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
}
